includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6
    paths:
        - sieve.php
        - src
        - config
    bootstrapFiles:
        - sieve.php
    treatPhpDocTypesAsCertain: false
